@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Inter:wght@500&family=Montserrat:ital,wght@1,200&display=swap");

#root {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.date,
.time,
.weather {
  margin: auto;
  text-align: center;
}

.city-input {
}

.date {
  margin: 5rem 0 0 5rem;
  text-align: left;
}

.time {
  position: absolute;
  right: 5rem;
  top: 5rem;
}

.weather {
  margin: 5rem 0 0 10rem;
  text-align: left;
}

.weekday-heading {
  font-family: Montserrat;
  font-size: 3.5rem;
  letter-spacing: 0.75rem;
}

.time-heading {
  font-family: Inter;
}

.date-heading {
  font-family: Fredoka;
}

.weather-heading {
  font-family: Montserrat;
}

.weather-card-group {
  margin: 5% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.weather-card {
  height: 150 px;
  text-align: center;
  border: 2px solid;
  border-radius: 15px;
  margin: 2px;
  background-color: white;
}
